.playlist {
  border: 1px solid var(--border);
  border-radius: var(--space-2);
  padding: 0 var(--space-4);
}
.playlistHeader {
  padding: var(--space-4) 0;
}
.playlistTitle {
  margin-bottom: var(--space-4);
  color: var(--text-h);
  font-size: var(--text-xl);
  line-height: var(--line-xl);
}
.playlistFooter {
  padding: var(--space-4) 0;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .playlist { 
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding: 0 var(--space-3);
  }
}