.playlist {
  border: 1px solid var(--border);
  border-radius: var(--space-2);
}
.playlistHeader {
  padding: var(--space-4);
}
.playlistTitle {
  margin-bottom: var(--space-4);
  color: var(--text-h);
  font-size: var(--text-xl);
  line-height: var(--line-xl);
}
.playlistFooter {
  padding: var(--space-4);
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .playlist { 
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  .playlistHeader,
  .playlistFooter {
    padding: var(--space-4) var(--space-3);
  }
}