.button {
  display: inline-block;
  border: none;
  border-radius: var(--space-5);
  padding: var(--space-2) var(--space-4);
  background-color: var(--accent-bg);
  color: var(--accent);
  font-size: var(--text-md);
  line-height: var(--line-md);
  cursor: pointer;
}
.button:focus-visible,
.button:hover {
  outline: 1.5px solid var(--accent);
}