:root {
  /* Color */

  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --input-bg: rgba(244, 243, 236, 0.6);

  /* Typography */

  --sans: Roboto, sans-serif;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;

  --line-xs: 1.125rem;
  --line-sm: 1.25rem;
  --line-md: 1.5rem;
  --line-lg: 1.75em;
  --line-xl: 2rem;
  --line-2xl: 2.5rem;

  /* Spaces */

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;
  --space-7: 64px;

  /* Ground rules */

  font-family: var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

@media only screen and (max-width: 1024px) {
  :root{font-size: 16px;}
}

@media only screen and (max-width: 500px) {
  :root{font-size: 14px;}
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --input-bg: rgba(47, 48, 58, 0.5);
  }
}

/* General settings */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 400;
  font-size: var(--text-md);
  line-height: var(--line-md);
}